/*
 * Custom CSS File for MMM-ISY Module
 */

 .isyOuterWrapper {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 90%;
    vertical-align: middle;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
 }

 .isyInnerWrapper {
    position: relative;
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 100%;
 }

/* Class for the _F_loor _P_lan layer*/
 .isyFP {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }

/* Class for the _O_verlay _N_ode */
 .isyON {  
    opacity: 0;
 }

 .isyFlashNode {
    -webkit-animation: fadeinout 4s linear  forwards infinite;
    animation: fadeinout 4s linear forwards infinite;
 }


 /* Classes for displaying thermostat information
  * 
  * NOTE: To change size of display, recommend changing the zoom setting of isyTstatWrapper;
  */
 .isyCurrTemp {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 10px 5px 0px 5px;
  border: 4px solid white;
  float: left;
  text-align: center;
}
.isyTstatWrapper sup {
  font-size: 55%;
}
.isyHeating {
  border-color: red;
}
.isyCooling {
  border-color: blue;
}
.isyHeatSetPoint {
  float: left;
  width: 18px;
  height: 18px;
  padding: 14px 8px 0px 8px;
  
  text-align: center;
}
.isyCoolSetPoint {
  width: 18px;
  height: 18px;
  padding: 14px 8px 0px 8px;
  text-align: center;
  float: left;
}
.isyHumidity {
  text-align: center;
  font-size: 80%;
  padding: 2px 0px 2px 0px;
  margin-top: 2px 0px 2px 0px;
}
.isyTstatWrapper {
  vertical-align: middle;
  background: rgba(0,0,0,0.6);
  color: #fff;
  margin: auto;
  padding: 5px;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  zoom: 1;
}

@-webkit-keyframes fadeinout {
    50% { opacity: 1; }
}

@keyframes fadeinout {
    50% { opacity: 1; }
}